name: Code Build, Docker Build & Publish Image
on:
  push:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always
  TARGET: x86_64-unknown-linux-musl
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install musl-tools
        run: sudo apt-get update && sudo apt-get install musl-tools -y
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: $TARGET
      - name: Build binary
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target $TARGET
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: refinery-binary
          path: target/$TARGET/release/refinery
  docker:
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: build
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: refinery-binary
          path: target/release/
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: user/app:latest
